<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>我要评估</title>
  <meta name="description" content="我要评估">
  <meta name="keywords" content="index">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="icon" type="image/png" href="/assets/i/favicon.png">
  <link rel="apple-touch-icon-precomposed" href="/assets/i/app-icon72x72@2x.png">
  <meta name="apple-mobile-web-app-title" content="Amaze UI" />
  <link rel="stylesheet" href="/assets/css/amazeui.css"/>
  <link rel="stylesheet" href="/assets/css/app.css">


  <script type="text/javascript">
    (function() {
        var rem, dpr, time, doc = window.document,
        docEl = doc.documentElement,
        viewport = doc.querySelector('meta[name="viewport"]'),
        zoomScale,
        zoomScaleNum;
        if (viewport) {            
            zoomScale = viewport.getAttribute("content").match(/initial\-scale=(["']?)([\d\.]+)\1?/);
            if(zoomScale){
              zoomScaleNum = parseFloat(zoomScale[2]);
              dpr = parseInt(1 / zoomScaleNum);
            }
        }
        if (!dpr && !zoomScaleNum) {
            var os = (window.navigator.appVersion.match(/android/gi), window.navigator.appVersion.match(/iphone/gi)),
            dpr = window.devicePixelRatio;
            dpr = os ? dpr >= 3 ? 3 : dpr >= 2 ? 2 : 1 : 1;
            zoomScaleNum = 1 / dpr;
        }
        window.addEventListener("resize",
            function() {
                clearTimeout(time);
                time = setTimeout(changeRem, 300);
            },false);
      //改变基准rem
        function changeRem(){
            var docWidth = docEl.getBoundingClientRect().width;
            if(docWidth / dpr > 540){
              docWidth = 540 * dpr;
            }
            //rem字号以320下的16px为基线进行等比缩放
            rem = docWidth/320 * 16;
            docEl.style.fontSize = rem + "px";
        }
        changeRem();

    })();
  </script> 
  
</head>
<body>
<div class="am-main">



<form name="form1"  action="" class="am-form">

      <div class="am-form-slides am-form-search">
        <div class="search-div">
            <div class="am-input-group am-input-group-search am-input-group-search1">
            <input type="text" class="am-form-field" placeholder="关键字搜索">
            <i class="am-icon-search"></i>
          </div>
        </div>
      </div>



  <div class="am-flow3">
    <div class="div-list-data">
      <div class="data-list">
        <div class="d-l-content listid">
          <ul class="d-l-fl">
           <li><div class="data-span"><span>姓名：</span>王雨良</div></li>
            <li><div class="data-span"><span>手机号码：</span>13451691016</div></li>
    
          </ul>
        </div>
        <div class="d-l-content">
          <a href="http://baidu.com">    <p><span>对接人员：</span>全静兰</p>
          <p><span>注册类型：</span>直客</p>
          <p><span>门店名称：</span>我爱我家萧林路店</p>
          <p><span>门店地址：</span>昆山市萧林路2197号</p>
          <p><span>绑定时间：</span>2019年7月20日</p></a>
        </div>
        <ul class="d-l-content leftday">
        </ul>
        <i class="am-icon-chevron"></i>
      </div> 
      <div class="option-div">
        <a href="" class="option-btn">编 辑</a>
      </div>
    </div>
 <!--  <div class="nodata"><div class="wid100"><img src="assets/i/list-nodata.jpg" alt=""></div></div> -->

  </div>
</form>

  <div class="am-menu am-g-fixed am-g-menu">
      <div class="am-u-sm-4"><a href="/wx_index/main" class="am-btn-home"><img src="assets/i/home.png" alt=""></a></div>
      <div class="am-u-sm-4 am-spec"><a href="" class="am-btn-home"><img src="assets/i/jj.png" alt=""></a></div>
       <div class="am-u-sm-4"><a href="/wx_index/person_info" class="am-btn-home"><img src="assets/i/user.png" alt=""></a></div>
  </div>
</div>


<script src="assets/js/jquery-1.7.1.js"></script> 
<script src="assets/js/amazeui.js"></script>

</body>
</html>
